@charset "UTF-8";

/* Général ------------------------------------------------------------------------------------- */

body, p,  legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}

h2 {
	font: normal 28pt verdana, helvetica, sans-serif;
	color: black;
    text-align: center;
    margin-top: 200px;
    border: 2px blue solid;
    /*background-color: #00BFFF;*/
    width= 50%;
    margin-left: 400px;
    background-color: lightsteelblue;
    height: 200px;
    outline-style: ridge;
    display: inline-grid;
}

body {
	background-color: #FFFAF0;
}

span {
	color : blue;
	weight: bold;
	font-size: 1.5em;	
}
fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
}

legend {
    font-weight: bold;
    color: #0568CD;
}

/* Forms --------------------------------------------------------------------------------------- */

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

